title = "Best Hotel in Himachal"
url = "/"
layout = "default"
description = "Home Page"
meta_description = "Free Bootstrap powered theme for hotels and accomodation business, ported for OctoberCMS"
is_hidden = 0
==
<!-- banner -->
<div class="banner">
    {% partial "banner" %}
</div>
<!-- banner-->

<!-- reservation-information -->
<div id="information" class="spacer reserve-info ">
    {% partial "reserve" %}
</div>
<!-- reservation-information -->

<!-- services -->
<div class="spacer services wowload fadeInUp">
<div class="container">
    {% partial "services" %}
</div>
</div>
<!-- services -->