==
<img src="{{ 'assets/images/photos/banner.jpg'|theme }}"  class="img-responsive" alt="slide">
    <div class="welcome-message">
        <div class="wrap-info">
            <div class="information">
                <h1  class="animated fadeInDown">Best Hotel in Himachal</h1>
                <p class="animated fadeInUp">Most luxurious hotel of Asia with the royal treatments and excellent customer service.</p>                
            </div>
            <a href="#information" class="arrow-nav scroll wowload fadeInDownBig"><i class="fa fa-angle-down"></i></a>
        </div>
    </div>